body {
    background-color: white;
    background-size: contain;
}


#login-column {
    margin-top: 10%;
    margin-bottom: 10%;
}

#login-box {
    background-color:#343a40;
    border-radius: 2%;
}

#login-image {
    width: "100%";
}

#nav-title {
    color: white;
}